.pageBoxLg {
  border: 1px solid blueviolet;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  position: relative;
  background: #fff;
  
}

.card {
  box-shadow: 0 4px 8px 0 0;
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.galleryRow {
  padding: 20px 0;
}
.productImages {
    padding-right: 45px;
    padding-bottom: 10px;
}
.figureSize
{
    overflow: hidden;
    margin: 0 !important;
}

.responsive {
  width: 100%;
  height: auto;
}
.sizeRatio{
 /*  border: 1px solid #11172b; */
  width: px;
  color: #11172b;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 30px; */
  margin-right: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.sizeText {
  border: 1px solid #11172b;
  width: 10px;
  color: #11172b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  margin-right: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
  float: left;
}
.addToCartButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color: #11172b;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    min-height: 45px;
}
.form-control{
  margin-right: 5px;
  margin-left: 5px;
}
.inputCartButton{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color: #ffff;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    /* padding: 8px 10px; */
    min-height: 45px;

}
.labelStock {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.labelSuccess {
  background-color: #5cb85c;
}
.labelDanger {
  background-color: #dc3545;
}
.btnInputRight{
  float: right;
}
.productDiscription h3 {
  line-height: 40px;
  font-weight: 700;
  margin-top: 0;
}
.itemSelected {
  border: 1px solid #dc3545;
  width: 10px;
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  margin-right: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
  float: left;
  color: #ffff;
}
.sizeNav {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
.productPrice{
  position: relative;
}
.pageBoxLg-label {
  background: rosybrown;
  margin: 0px 0px 0px 20px;
  font-size: 14px;
  padding: 2px 20px 2px 20px;
  color: white;
  transition: padding 3s;
  -moz-transition: padding 3s;
  -webkit-transition: padding 3s;
}

.addTocartButton
{
display: inline-flex;
align-items: center;
justify-content: center;
max-width: 200px;
background-color: #e71e2d;
color: #fff;
font-weight: 700;
font-size: 14px;
width: 100%;
cursor: pointer;
border: none;
padding: 8px 10px;
min-height: 45px;
}