
.cardImage {
  box-shadow: 0 1px 2px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
  max-width: 370px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.imgResponsive {
  width: 100%;
  height: auto;
}

.sizeText {
  border: 1px solid #11172b;
  width: 10px;
  color: #11172b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  margin-right: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
  float: left;
}
.sizeImage {
  border: 1px solid #11172b;
  float: left;
}
.form-control{
  margin-right: 5px;
  margin-left: 5px;
}
.inputCartButton{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color: #ffff;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding-right: 10px;
    min-height: 45px;

}

.productDiscription h3 {
  line-height: 40px;
  font-weight: 700;
  margin-top: 0;
}
.itemSelected {
  border: 1px solid #dc3545;
  width: 10px;
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  margin-right: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
  float: left;
  color: #ffff;
}
.sizeNav {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
.inlineImge {
    overflow: visible;
    display: inline-block;
    left: 30px;
    right: 30px;
}

.addToCartButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color: rgb(34, 98, 194);;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    min-height: 45px;
    display: inline-block;
}

