<!-- <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12"
     *ngFor="let bannerImg of banner; let i = index" style="padding: 0px">
        <div *ngIf="slideIndex === i">
            <img  [src]="bannerImg.bannerImage" class="imgResponsive">
        </div>
    </div>
</div>
<a class="prev" (click)="minusSlides(slideIndex)">&#10094;</a>
<a class="next" (click)="plusSlides(slideIndex)">&#10095;</a>
<app-promotion
[promotionsModel]="promotionTable" [slideMultiStart]="slideMultiStart"
[sliderLength]= "sliderLength"
[slideMultiLength] = "slideMultiLength"
 [slideMultiEnd]="slideMultiEnd" (changeMultiPlusSlider)="plusMultiCarousel($event)" 
 (changeMultiMinusSlider)="minusMultiCarousel($event)"
 ></app-promotion>
<div class="p-2 subHeader"><span></span></div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 col-md-12 col-12" >
      <img  src="./../../../assets//img/Poster.jpg" class="imgResponsive">
  </div>
</div>
<app-hot-product></app-hot-product>

 -->


 <div class="row">
        <div class="col-md-12" style="padding: 0px;"  >
               <img [src]="banner[0].bannerImage" class="imageSize">
        </div>
    </div>
    
    
    <h1> FRESH NEW LOOKS</h1>
    <div class="container">
       <div class="row">
           <div class="col-md-4"></div>
           <div class="col-md-4 divFour">
               <div class="shopButton" style="padding-left: 25px;">
                   <button class="button button1">SHOP WOMEN</button>
                   <button class="button button1">SHOP MEN</button>
               </div>
           </div>
           <div class="col-md-4"></div>
       </div>
    </div>
    <br>
    <div class="container-fluid">
       <div class="productImg">
           <div class="row">
               <div class="col-md-6">
                   <img [src]="hotProduct[0].adsImageName" class="productImgs">
                   <h4 class="hFour">SUPER CUTE, SUPER STRETCH</h4>
                   <h4 style="text-align: center;">
                       <a href="#">
                           <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP COLLECTION</span>
                       </a>
                   </h4>
               </div>
               <div class="col-md-6">
                   <img [src]="hotProduct[1].adsImageName" class="productImgs">
                   <h4 class="hFour">SUPER CUTE, SUPER STRETCH</h4>
                   <h4 style="text-align: center;">
                       <a href="#">
                           <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP STYLES</span>
                       </a>
                   </h4>
               </div>
           </div>
       </div>
    <br>
       <div class="bannerModel">
               <img [src]="banner[1].bannerImage" class="modelBanner">
           </div>
    
    
       <div class="stripImages">
           <img src="../../../assets/img/Lee/Strip.jpg" class="stripImg">
       </div>
       <br>
       <br>
       <div class="threeImg">
           <div class="row">
               <div class="col-md-4">
                   <img [src]="hotProduct[2].adsImageName"
                       class="threeImages">
                   <h4 class="hFour">OH SO MOTO</h4>
                   <h4 style="text-align: center;">
                       <a href="#">
                           <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                       </a>
                   </h4>
               </div>
               <div class="col-md-4">
                   <img [src]="hotProduct[3].adsImageName"
                       class="threeImages">
                   <h4 class="hFour">RAISE THE BAR</h4>
                   <h4 style="text-align: center;">
                       <a href="#">
                           <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                       </a>
                   </h4>
               </div>
               <div class="col-md-4">
                   <img [src]="hotProduct[4].adsImageName"
                       class="threeImages">
                   <h4 class="hFour">STREET STYLE</h4>
                   <h4 style="text-align: center;">
                       <a href="#">
                           <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP THE LOOK</span>
                       </a>
                   </h4>
               </div>
           </div>
       </div>
       <br>
     <div class="bannerModel">
         <img src="../../../assets/img/Lee/bannerModel.jpg" class="modelBanner">
     </div>  
    
    <br>
    <br>
    <h3 class="hThree">SHOP OUR INSTA FAVORITES</h3>
    <br>
    <h4 class="hTen">Tag @lencottjeans and show us how you #MoveYourLencott</h4>
    <br>
       <div class="finalImages">
               <div class="row">
                       <div class="col-md-4">
                           <img [src]="hotProduct[4].adsImageName" class="finalImg">
                               
                           <h4 class="hFour">OH SO MOTO</h4>
                           <h4 style="text-align: center;">
                               <a href="#">
                                   <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP ALL MENS</span>
                               </a>
                           </h4>
                       </div>
                       <div class="col-md-4">
                               <img [src]="hotProduct[5].adsImageName" class="finalImg">
                           <h4 class="hFour">RAISE THE BAR</h4>
                           <h4 style="text-align: center;">
                               <a href="#">
                                   <span class="buttons" style="text-align: center; padding-left: 15px;">QUICK SHOP</span>
                               </a>
                           </h4>
                       </div>
                       <div class="col-md-4">
                               <img [src]="hotProduct[6].adsImageName" class="finalImg">
                           <h4 class="hFour">STREET STYLE</h4>
                           <h4 style="text-align: center;">
                               <a href="#">
                                   <span class="buttons" style="text-align: center; padding-left: 15px;">SHOP ALL WOMENS</span>
                               </a>
                           </h4>
                       </div>
                   </div>
       </div>
       <br>
       
       
       
                <app-promotion [hidden]="!promotion" [promotionsModel]="promotion"></app-promotion>
    
    </div>